@import "tailwindcss";

:root {
  --background: #F8FAFF;
  --primary-text: #283044;
  --secondary-text: #565E74;
  --soft-text-color: #A0A0A0;
  --soft-background: #ECEEF4;
  --main-border-color: #E2E8F0;
  --dark-border-color: #363636;
  --soft-border-color: #E6E7EA;
  --accent-blue: #1E3A8A;
  --accent-blue-deep: #1E40AF;
  --acecnt-blue-background: #F8FAFC;
  --accent-blue-soft: #DBEAFE;
  --accent-red: #F02B2B;
  --accent-red-soft: #f6dbe5;
  --accent-red-deep: #BA0B0B;
  --accent-green-soft: #ddf6db;
  --accent-green: #17AB6F;
  --accent-green-bright: #33cc66;
  --accent-orange-soft: #FFEDE4;
  --accent-orange: #b95f00;
  --accent-orange-deep: #4F2500;
  --accent-purple-soft: #F2EFFF;
  --accent-purple: #6366F1;
  --accent-purple-deep: #07006C;
}

body {
  background: var(--background);
  color: var(--primary-text);
  font-family: var(--font-plusjakarta);
}

button,
a {
  cursor: pointer !important;
}

.action-wrapper button {
  display: flex;
  align-items: center;
  gap: 0 12px;
  height: 48px;
  border-radius: 32px;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  background: var(--background);
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, .1);
  transition: all .1s ease-out;
}

.action-wrapper button span:first-child {
  display: flex;
  width: 32px;
  aspect-ratio: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background: #000;
  color: #FFF;
  flex: 1 0 32px;
  transition: all .1s ease-out;
}

.action-wrapper button span:last-child {
  font-size: 1rem;
  transition: all .1s ease-out;
  font-weight: 700;
  letter-spacing: -0.2px;
  color: var(--primary-text);
}

.action-wrapper button:hover {
  background: #000;
}

.action-wrapper button:hover span:first-child {
  color: #000;
  background: #FFF;
}

.action-wrapper button:hover span:last-child {
  color: #FFF;
}

.canvas {
  width: 100%;
  height: 600px;
  background: transparent;
  border: 4px dashed var(--soft-border-color);
  margin: 1.5rem 0;
}

.checkout-panel {
  width: 400px;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .1);
  border: .5px solid var(--soft-border-color);
  transition: all .25s ease-out;
  opacity: 0;
  transform: translateX(120%);
}

.checkout-panel.show {
  opacity: 1;
  transform: translateX(0);
}

.checkout-panel h2 {
  font-size: 14px;
  font-weight: 800;
  padding: 0;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

.checkout-panel table {
  width: 100%;
}

.checkout-panel table thead tr th {
  text-align: left;
  padding: 8px 14px;
  background: #000;
  color: #FFF;
  font-size: 14px;
  line-height: 20px;
}

.checkout-panel table thead tr th:last-child {
  text-align: right;
  width: 140px;
}

.checkout-panel table tbody tr td {
  padding: 8px 14px;
  border-bottom: 1px solid var(--soft-border-color);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.download-btn {
  padding: 0.8rem 1.5rem;
  background: #000;
  color: #FFF;
  display: flex;
  align-items: center;
  gap: 0 8px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 24px;
}